node_modules
dist
build
public
outputs
coverage
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.svg
**/*.webp
**/*.ico
**/*.pdf
**/*.zip
**/*.map
**/*.min.*
instagram-embed.html
index.html
impressions/index.html
lighthouse-report.html
test-results
playwright-report
